*{
    box-sizing: border-box;
    outline: none;
    resize: none;
}

:root{
    --blue-color: #164FA4;
    --darkBlue-color: #042250;
    --lightBlue-color:#EFF6FF;
    --gray-color: #ABB9CD;

    --roboto-font: 'Roboto', sans-serif;
}

.container{
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
}

body{
    font-family: 'Raleway', sans-serif;
    color:var(--darkBlue-color);
}
h1{
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
}
h2{
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
}
h3{
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}
h4{
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
}
a{
    color: var(--darkBlue-color);
}
.main__btn{
    background: var(--darkBlue-color);
    color:white;
    height: 49px;
    border: none;
    box-shadow: inset 0px 3px 3px rgba(255, 255, 255, 0.17), inset 0px -2px 3px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    font-size: 18px;
line-height: 21px;
width: 100%;
}
/* header */
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
.header__logo{
    margin-right: 105px;
}
.header__logo h2{
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    font-family: var(--roboto-font);
    text-transform: uppercase;
}
.header__mail a{
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;
    align-items: center;
    color: var(--darkBlue-color);
}
.header__phone{
    padding-left: 106px;
}
.header__phone a{
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;
    align-items: center;
    color: var(--darkBlue-color);
}
.header__icoPic{
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background:var(--lightBlue-color);
    margin-right: 10px;
}
.header__btn{
    max-width: 204px;
    width: 100%;
}

/* firstscreen */
.firstscreen{
    background-image: url(../source/firstscreen/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 87px;
}

.firstscreen .container{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 613px;
}
.firstscreen h1{
    max-width:  700px;
    padding-bottom: 167px;
}

/* perks */
.perks__block{
    background: rgba(52, 101, 174, 0.23);
    box-shadow: 0px 4px 17px rgba(52, 101, 174, 0.07);
    border-radius: 7px;
    padding: 8px;
    max-width: 270px;
    width: 100%;
    height: 347px;
    transform: translate(0, -38%);
    position: relative;
    overflow: hidden;
}
.perks__blockWrap{
    background:white;
    border-radius: 7px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    position: relative;
    overflow: hidden;
}

.perks__pic{
    padding: 11px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(52, 101, 174, 0.23), rgba(52, 101, 174, 0.23)), #EFF6FF;
    box-shadow: 0px 0px 6px #8FA2BF;
}
.perks__picWrap{
    height:58px;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--lightBlue-color);
    border-radius: 50%;
   
}
.perks__txt{
    text-align: center;
    padding-top: 30px;
}
.perks__txt h4{
    margin-bottom: 15px;
}
.perks__txt p{
    padding: 0 15px;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.perks__bg{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}
.perks__txt{
    position: relative;
    z-index: 2;
}
.perks__pic{
    position: relative;
    z-index: 2;
}
.perks .container{
    display:flex;
    justify-content: space-between;
}

/* prod */

.prod__blockPic{
    max-width: 368px;
    width: 100%;
    height: inherit;
    background: white;
}
.prod__block{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background:var(--lightBlue-color);
   
}
.prod__blockCont{
    width: 100%;
    padding: 56px 54px;
}
.prod__tableHead{
    width: 100%;
}
.prod__blockCont h3{
    text-align: center;
}
.prod__tablePrice{
    width: 100%;
    text-align: center;
    background: white;
    border-radius: 5px;
    border: 1px solid #042250;
    overflow: hidden;
}

.prod__type ul{
    display: flex;
    font-size: 18px;
    line-height: 21px;
}
.prod__type{
    padding-top: 40px;
}
.prod__typeItem{
    position: relative;
}
.prod__typeItem:not(:last-child){
    padding-right: 52px;
}
.prod__typeItem:not(:last-child)::after{
    content: '';
    height:4px;
    width: 4px;
    background:var(--darkBlue-color);
    position: absolute;
    right: 24px;
    top: 50%;
}
.prod__typeItem-selected:not(:last-child)::before{

    width: calc(100% - 52px);

}
.prod__typeItem-selected:last-child::before{
   
    width: 100%;

}
.prod__typeItem-selected::before{
    content: '';
    height:4px;
    background:var(--darkBlue-color);
    position: absolute;
    left: 0;
    bottom: -10px;
}
.prod__content{
    padding-top: 44px;
}
.prod__tablePrice td{
    padding: 10px;
    border: 1px solid #042250;
}
.prod__tablePriceWrap{
    border: 1px solid #042250;
    border-radius: 5px;
}